@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb; /* bg-gray-50 */
}

/* Simple dark mode support */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827; /* bg-gray-900 */
    color: white;
  }
}
